%h2="Upload New Certificate"
%form{:name=>'SSL Upload',
      :method=>:POST,
      :action=>"/upload",
      :enctype => 'multipart/form-data'}
  %p
    %label{:for => 'certfile'}
      SSL Certificate File:
    %input#certfile{:name=>'certfile',:type=>'file'}  
  %p
    %label{:for => 'certpass'}
      SSL Certificate Password (if required):
    %input#certpass{:name=>'certpass',:type=>'password'}
  %input#submit{:type=>:submit,:value=>"Upload Certificate"}
%a{:href=>'process'}
  or click here to skip to the list of your certificates…
